// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
	width: 90%;
}
h2{
	color: black;
}
.list-title{
	color: #244;
	font-weight: bold;
	font-size: larger;
}
.list-one-even{
	background: #d0d0d0;
}

.secondary-content{
	width: 50%;
	float: right;
	display: inline;
}