<p id="notice"><%= notice %></p>

<h1>Listing Order Products</h1>

  <div id="list">  
     <%= render 'order_products_list' %>
  </div>
<br>

<%= link_to 'New Order product', new_order_product_path %>
