<footer class="footer">
  <p class= "nav navbar-nav">Online shop by Marta Stefanyshyn</p>
  <p class="nav navbar-nav navbar-right"><%= link_to "Contacts",    contact_path, :class => 'navbar-link' %></p>     
</footer>

